In [31]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

! pip install mlxtend
from mlxtend.frequent_patterns import apriori, association_rules

C:\Users\Win10\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

Requirement already satisfied: mlxtend in c:\users\win10\anaconda3\lib\site-packages (0.21.0)
Requirement already satisfied: joblib>=0.13.2 in c:\users\win10\anaconda3\lib\site-packages (from mlxtend) (1.0.1)
Requirement already satisfied: numpy>=1.16.2 in c:\users\win10\anaconda3\lib\site-packages (from mlxtend) (1.20.1)
Requirement already satisfied: pandas>=0.24.2 in c:\users\win10\anaconda3\lib\site-packages (from mlxtend) (1.2.4)
Requirement already satisfied: scipy>=1.2.1 in c:\users\win10\anaconda3\lib\site-packages (from mlxtend) (1.6.2)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\win10\anaconda3\lib\site-packages (from mlxtend) (1.1.3)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\win10\anaconda3\lib\site-packages (from mlxtend) (3.3.4)
Requirement already satisfied: setuptools in c:\users\win10\anaconda3\lib\site-packages (from mlxtend) (52.0.0.post20210125)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\win10\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\win10\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.4.7)
Requirement already satisfied: pillow>=6.2.0 in c:\users\win10\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (8.2.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\win10\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.1)
Requirement already satisfied: cycler>=0.10 in c:\users\win10\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: six in c:\users\win10\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=3.0.0->mlxtend) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\win10\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2021.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\win10\anaconda3\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (2.1.0)

# Association Rule for Store Dataset

In this case study, we will explore how association rule can be used to analyze the items that are usualy purcased together.

## Load Data

We will use the dataset of the transaction in a certain store. You can get the dataset here: 
https://gist.githubusercontent.com/Harsh-Git-Hub/2979ec48043928ad9033d8469928e751/raw/72de943e040b8bd0d087624b154d41b2ba9d9b60/retail_dataset.csv

In [32]:
# load the data set ans show the first five transaction

url = 'https://gist.githubusercontent.com/Harsh-Git-Hub/2979ec48043928ad9033d8469928e751/raw/72de943e040b8bd0d087624b154d41b2ba9d9b60/retail_dataset.csv'
data = pd.read_csv(url)
data.head(5)

C:\Users\Win10\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

        0       1     2       3       4       5       6
0   Bread    Wine  Eggs    Meat  Cheese  Pencil  Diaper
1   Bread  Cheese  Meat  Diaper    Wine    Milk  Pencil
2  Cheese    Meat  Eggs    Milk    Wine     NaN     NaN
3  Cheese    Meat  Eggs    Milk    Wine     NaN     NaN
4    Meat  Pencil  Wine     NaN     NaN     NaN     NaN

# Get the set of product that has been purchased

In [33]:
product = set()
for col in dt:
    product.update(dt[col].unique())
print(product)

{nan, 'Bread', 'Bagel', 'Eggs', 'Cheese', 'Pencil', 'Milk', 'Wine', 'Meat', 'Diaper'}

C:\Users\Win10\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

## Preprocess Data

In this step, we will transform our dataset so that we will have a one hot encoding based on the purchased products.

In [34]:
#create an itemset based on the products

itemset = set(product)
encoded_vals = []

# encoding the feature

for index, row in dt.iterrows():
    rowset = set(row) 
    labels = {}
    uncommons = list(itemset - rowset)
    commons = list(itemset.intersection(rowset))
    for uc in uncommons:
        labels[uc] = 0
    for com in commons:
        labels[com] = 1
    encoded_vals.append(labels)

C:\Users\Win10\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [35]:
# create new dataframe from the encoded features

newdata = pd.DataFrame(encoded_vals)

# show the new dataframe

newdata.head(5)

C:\Users\Win10\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

   NaN  Milk  Bagel  Bread  Eggs  Cheese  Pencil  Wine  Meat  Diaper
0    0     0      0      1     1       1       1     1     1       1
1    0     1      0      1     0       1       1     1     1       1
2    1     1      0      0     1       1       0     1     1       0
3    1     1      0      0     1       1       0     1     1       0
4    1     0      0      0     0       0       1     1     1       0

Since, the encoded dataframe consist of the empty column. We will drop the NaN column or select all columns other than the first column.

In [36]:
newdata.drop(columns=newdata.columns[0], axis=1, inplace=True)

C:\Users\Win10\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [37]:
newdata.head(5)

C:\Users\Win10\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

   Milk  Bagel  Bread  Eggs  Cheese  Pencil  Wine  Meat  Diaper
0     0      0      1     1       1       1     1     1       1
1     1      0      1     0       1       1     1     1       1
2     1      0      0     1       1       0     1     1       0
3     1      0      0     1       1       0     1     1       0
4     0      0      0     0       0       1     1     1       0

## Apriori Algorithm

We will use appriori algorithm to determine the frequently purchased products. 
For this case study, we will min_support=0.2

In [38]:
freq_product = apriori(newdata, min_support=0.2, use_colnames=True, verbose=1)
freq_product

Processing 171 combinations | Sampling itemset size 3

C:\Users\Win10\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)
C:\Users\Win10\anaconda3\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:111: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

     support              itemsets
0   0.501587                (Milk)
1   0.425397               (Bagel)
2   0.504762               (Bread)
3   0.438095                (Eggs)
4   0.501587              (Cheese)
5   0.361905              (Pencil)
6   0.438095                (Wine)
7   0.476190                (Meat)
8   0.406349              (Diaper)
9   0.225397         (Milk, Bagel)
10  0.279365         (Bread, Milk)
11  0.244444          (Eggs, Milk)
12  0.304762        (Cheese, Milk)
13  0.219048          (Milk, Wine)
14  0.244444          (Milk, Meat)
15  0.279365        (Bread, Bagel)
16  0.238095       (Cheese, Bread)
17  0.200000       (Pencil, Bread)
18  0.244444         (Bread, Wine)
19  0.206349         (Bread, Meat)
20  0.231746       (Bread, Diaper)
21  0.298413        (Eggs, Cheese)
22  0.241270          (Eggs, Wine)
23  0.266667          (Eggs, Meat)
24  0.200000      (Pencil, Cheese)
25  0.269841        (Cheese, Wine)
26  0.323810        (Cheese, Meat)
27  0.200000      (Cheese, Diaper)
28  0.200000        (Pencil, Wine)
29  0.250794          (Wine, Meat)
30  0.234921        (Wine, Diaper)
31  0.203175  (Cheese, Milk, Meat)
32  0.215873  (Eggs, Cheese, Meat)

The we will generate association rule of the frequent itemset based on confidence level with the threshold=0.6

In [39]:
asso_rules = association_rules(freq_product, metric="confidence", min_threshold=0.6)
asso_rules

C:\Users\Win10\anaconda3\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Cheese),(Milk),0.501587,0.501587,0.304762,0.607595,1.211344,0.053172,1.270148
1,(Milk),(Cheese),0.501587,0.501587,0.304762,0.607595,1.211344,0.053172,1.270148
2,(Bagel),(Bread),0.425397,0.504762,0.279365,0.656716,1.301042,0.064641,1.442650
3,(Eggs),(Cheese),0.438095,0.501587,0.298413,0.681159,1.358008,0.078670,1.563203
4,(Eggs),(Meat),0.438095,0.476190,0.266667,0.608696,1.278261,0.058050,1.338624
5,(Wine),(Cheese),0.438095,0.501587,0.269841,0.615942,1.227986,0.050098,1.297754
6,(Cheese),(Meat),0.501587,0.476190,0.323810,0.645570,1.355696,0.084958,1.477891
7,(Meat),(Cheese),0.476190,0.501587,0.323810,0.680000,1.355696,0.084958,1.557540
8,"(Cheese, Milk)",(Meat),0.304762,0.476190,0.203175,0.666667,1.400000,0.058050,1.571429
9,"(Cheese, Meat)",(Milk),0.323810,0.501587,0.203175,0.627451,1.250931,0.040756,1.337845
10,"(Milk, Meat)",(Cheese),0.244444,0.501587,0.203175,0.831169,1.657077,0.080564,2.952137
11,"(Eggs, Cheese)",(Meat),0.298413,0.476190,0.215873,0.723404,1.519149,0.073772,1.893773
12,"(Eggs, Meat)",(Cheese),0.266667,0.501587,0.215873,0.809524,1.613924,0.082116,2.616667
13,"(Cheese, Meat)",(Eggs),0.323810,0.438095,0.215873,0.666667,1.521739,0.074014,1.685714